@charset 'UTF-8';

* {margin: 0; padding: 0;}
img {vertical-align: bottom;
    border: none;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
body {overflow-x: hidden;}

/* wrap설정 */

#wrap {width: 100%; height: 100%;
    position: fixed;
    background-image: url(../img/giriboy030.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}

.intro {position: relative;}
.intro h2 {position: absolute;
    right: 100px; top: 50px;
    font-size: 48px;}

.menu {width: 100%; height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 20px;}
.menu li {font-size: 36px;
    font-weight: bold;
    line-height: 2;}
.menu li a {color: #fff;
    animation: ani 6s linear infinite;
}

@keyframes ani {
    0% {color: #9890e3;}
    50% {color: #a18cd1;}
    100% {color: #b1f4cf;}
}