@charset 'UTF-8';

/* 전체설정 */
*{margin: 0; padding: 0;}
a {color: #000;
    text-decoration: none;}
ul,ol {list-style: none;}
img {border: none;
    vertical-align: bottom;}
body {overflow-x: hidden;}

/* 구글폰트, 눈누폰트 등에서 import미리설정 
font-family를 주석으로 가둬서 임시저장 */

/* 우선순위 CSS는 덮어쓰기가 가능한 파일
제일상위자 - 태그네임
두번째상위자 - #wrap section -> section의 클래스네임으로 변경안됨
세번째상위자 - ID 값 */

/* 크기설정 */
/* 제이쿼리에서 높이를 화면기준으로 변경될 section -> 800px 고정
    내용에 따라 높이가 자동변환될 section -> 1000px / 500px 고정 */
.mainImg {width: 100%; height: 500px;}
.info {width: 100%; height: 1000px;}
.ranking {width: 100%; height: 1000px;}
.new {width: 100%; height: 800px;}
.hotdeal {width: 100%; height: 800px;}
.health {width: 100%; height: 800px;}
.membership {width: 100%; height: 500px;}
footer {width: 100%; height: 550px;}




/* 헤더설정 */
header {width: 100%; height: 100px;
    display: flex;
    position: fixed;
    background-color: #fffeda;
    z-index: 90;}
header .logo {background-image: url(../img/h1_logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15%; height: 100%;
    margin-left: 50px;
    cursor: pointer;}
header .menu {display: flex;
    width: 85%;
    justify-content: space-around;
    align-items: center;}
header .menu>li {font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    transition: all 0.3s;}

header .menu>li:hover {transform: scale(1.1);}

header .utill {display: flex;
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 50px;}
.utill li {margin-left: 30px;
    font-size: 14px;
    cursor: pointer;}

.shop {position: relative;}
.shop span {position: absolute;
    width: 18px;
    height: 18px;
    background-color: #7aad6286;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 1.1;
    right: -20px;}

#wrap {padding-top: 100px;}

/* mainImg 설정 */
.mainImg {width: 100%; height: 500px;
    position: relative;
    cursor: pointer;
    }
.mainImg_img li:nth-child(1) {background-image: url(../img/slide1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%; height: 100%;
    position: absolute;}
.mainImg_img li:nth-child(2) {background-image: url(../img/slide2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%; height: 100%;
    position: absolute;}
.mainImg_img li:nth-child(3) {background-image: url(../img/slide3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%; height: 100%;
    position: absolute;}
.mainImg_img li:nth-child(4) {background-image: url(../img/slide4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%; height: 100%;
    position: absolute;}
.mainImg_img li:nth-child(5) {background-image: url(../img/slide5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%; height: 100%;
    position: absolute;}

.mainImg_txt {position: absolute;
    left: 20%; top: 25%;
    width: auto;}
.mainImg_txt strong {font-size: 40px;
    display: block;
    margin: 10px 0;}


/* 메인슬라이드 텍스트 , 이미지 on값 설정 */
.mainImg_txt>div {display: none;}

.mainImg_txt>div.on {display: block;}

.mainImg_img li {display: none;}

.mainImg_img li.on {display: block;}



/* 메인슬라이드 화살표 설정 */
.right ul{width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;}
.right li {font-size: 36px;
    margin: 0 100px;
    background-color: #ccc;
    border-radius: 50%;
    padding: 0 10px;
    text-align: center;
    transition: all 0.3s;}
.right li:hover {color: #fff;}

/* info_box1 설정 */
section:nth-child(2) {width: 100%; height: 1000px;}
.info_box01 {display: flex;
    flex-direction: column;
    width: 100%; height: 333.3333px;
    justify-content: center;
    align-items: center;}
.info_box01 h2 {margin-top: -70px;
    margin-bottom: 10px;
    color: #8FC576;
    font-size: 42px;}
.info_box01>strong {font-size: 32px;
    margin-bottom: 20px;}
.info_box01 span {font-size: 16px;
    text-align: center;}

/* info_box2 설정 */
.info_box2 {display: flex;
    width: 100%; height: 333.3333px;
    justify-content: center;
    align-items: center;
    background-color: #8FC576;}
.info_box2 h2 {color: #8FC576;
    margin-bottom: 30px;
    font-size: 42px;
    box-sizing: border-box;}
.info_box2 span {font-weight: bold;
    font-size: 14px;}
.info_box2>div {background-color: #fff;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

/* info_box3 설정 */
.info_box3 {display: flex;
    flex-direction: column;
    width: 100%; height: 333.3333px;
    justify-content: center;
    align-items: center;}
.info_box3 #logo {background-image: url(../img/h1_logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 15%; height: 100px;
    margin-top: 30px;
    margin-bottom: -100px;}
.info_box3 span {font-size: 14px;
    font-weight: bold;}

.info_box30 {display: flex;
    width: 80%; height: 100%;
    justify-content: space-around;
    align-items: center;}
.info_box30 h2 {color: #8fc576;
    font-size: 36px;}

/* ranking박스 설정 */
.ranking {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8fc57686;}
.ranking_box1 {width: 100%; height: 500px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    }
.ranking li {cursor: pointer;
    transition: all 0.5s;}
.ranking li:nth-child(1):hover {transform: scale(1.2);}
.ranking ul {overflow: hidden;}

.ranking_box111 {position: relative;
    margin-top: 50px;}
.ranking_box111 li:nth-child(1) {background-image: url(../img/best_001.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 550px; height: 400px;
    
    }
.ranking_box111 li:nth-child(2) {text-align: center;
    position: absolute;
    left: 0px; bottom: 0px;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    background-color: #8FC576;
    opacity: 0.8;}



.ranking_box112 {position: relative;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 50px;}
.ranking_box112 li:nth-child(1) {background-image: url(../img/cream2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 250px; height: 400px;
    }
.ranking_box112 li:nth-child(2) {text-align: center;
    position: absolute;
    left: 70px; bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;}

/* ranking_box2 설정 */
.ranking_box2 {display: flex;
    width: 100%; height: 500px;
    justify-content: center;
    margin-top: -20px;
    margin-left: -15px;}

.ranking_box21 ul {width: 250px; height: 410px;
    margin-right: 10px;}
.ranking_box21 li:nth-child(1) {background-image: url(../img/best_006.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 250px; height: 410px;
    }

.ranking_box22 ul {width: 250px; height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;}
.ranking_box22 li:nth-child(1) {background-image: url(../img/best_004.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 250px; height: 200px;}
.ranking_box22 li:nth-child(2) {margin-left: -30px;}


.ranking_box23 li:nth-child(1) {background-image: url(../img/best_003.jfif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 300px; height: 200px;}

.ranking_box24 ul {width: 250px; height: 200px;
    margin-right: 10px;}
.ranking_box24 li:nth-child(1) {background-image: url(../img/best_005.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 250px; height: 200px;}

.ranking_box25 li:nth-child(1) {background-image: url(../img/best_002.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 300px; height: 200px;}

.ranking_box221 {display: flex;
    flex-direction: column;}
.ranking_box222 {display: flex;}
.ranking_box224 {display: flex;}

.ranking_box2 ul {position: relative;}
.ranking_box2 li:nth-child(2) {text-align: center;
    position: absolute;
    left: 25%; bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    }


/* new 설정 */
.new {position: relative;}
.new_box1 {width: 100%; height: 100%;
    position: absolute;}
.new_box11 {width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;}
.new_box11 h2 {color: #245423;
    font-size: 40px;
    position: absolute;
    top: 120px;
    z-index: 10;}
.new_box11>div {width: 100%; height: 500px;
    background-color: #9AB65F;
    position: relative;}

.new_box2 {position: absolute;
    width: 100%; height: 100%;}
.new_box21 {display: flex;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;}
.new_box21 ul {margin: 0 50px;}
.new_box21 li {text-align: center;
    cursor: pointer;}
    
.new_box21 li:nth-child(2) {font-size: 18px;
    font-weight: bold;
    color: #ccc;
    margin: 5px 0;}
.new_box21 li:nth-child(3) {font-weight: bold;
    color: lightblue;}

.new_box211 li:nth-child(1) {background-image: url(../img/new_001.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px; height: 300px;}
.new_box212 li:nth-child(1) {background-image: url(../img/best_006.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px; height: 300px;}
.new_box213 li:nth-child(1) {background-image: url(../img/new_002.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px; height: 300px;}
.new_box214 li:nth-child(1) {background-image: url(../img/new_003.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px; height: 300px;}



/* hotdeal 설정 */
.hotdeal {position: relative; width: 100%; height: 800px;
    background-color: #8fc57686;}
.hotdeal h2 {text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 5%;
    font-size: 40px;
    color: #fff;}
.hotdeal_box11 {width: 50%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 100px; top: -70px;}
.hotdeal_box11 li:nth-child(1) {background-image: url(../img/cream4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;}
.hotdeal_box11 li:nth-child(2) {background-image: url(../img/cream1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 23%;
    bottom: 0;}
.hotdeal_box11 li:nth-child(3) {background-image: url(../img/pad1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    right: 23%;
    bottom: 0;}

.hotdeal_box21 {width: 50%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 100px;
    top: -70px;}
.hotdeal_box21 li:nth-child(1) {background-image: url(../img/pad3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;}
.hotdeal_box21 li:nth-child(2) {background-image: url(../img/pad4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 23%;
    bottom: 0;}
.hotdeal_box21 li:nth-child(3) {background-image: url(../img/pad5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    right: 23%;
    bottom: 0;}

/* health 설정 */
.health {position: relative;}
.health_box1 {width: 100%; height: 100%;
    position: absolute;}
.health_box11 {width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;}
.health_box11 h2 {color: #245423;
    font-size: 40px;
    position: absolute;
    top: 120px;}
.health_box11>div {width: 100%; height: 500px;
    background-color: #9AB65F;}

.health_box2 {position: absolute;
    width: 100%; height: 100%;}
.health_box21 {display: flex;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;}
.health_box21 ul {margin: 0 50px;}
.health_box21 li {text-align: center;
    cursor: pointer;}
.health_box21 li:nth-child(2) {font-size: 18px;
    font-weight: bold;
    color: #ccc;
    margin: 5px 0;}
.health_box21 li:nth-child(3) {font-weight: bold;
    color: lightblue;}
.health_box211 li:nth-child(1) {background-image: url(../img/health_001.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px; height: 300px;}
.health_box212 li:nth-child(1) {background-image: url(../img/health_002.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px; height: 300px;}
.health_box213 li:nth-child(1) {background-image: url(../img/health_003.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px; height: 300px;}
.health_box214 li:nth-child(1) {background-image: url(../img/health_004.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px; height: 300px;}

/* 맴버십 설정 */
section:nth-child(7) {width: 100%; height: 500px;
    background-color: #8fc57686;}
.membership {width: 100%; height: 100%;
    position: relative;}
.membership h2 {position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 30px;
    color: #fff;
    font-size: 36px;}
.membership_box12 {position: absolute;
    right: 300px;
    top: 100px;
    display: flex;
    width: 10%; height: 50px;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;}
.membership_box12 li {color: #fff;
    padding: 10px;
    font-weight: bold;}
.membership_box12:hover a {color: #000;}
.membership_box12 li:nth-child(2) {font-size: 20px;}
.membership_box12 a {color: #fff;
    transition: all 0.5s;}

/* 맴버십박스2 설정 */
.membership_box2 {width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.membership_box21 {display: flex;
    width: 100%; height: 200px;
    justify-content: center;
    align-items: center;}
.membership_box211 {display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ccc;
    width: 20%; height: 150px;
    margin-right: 10px;
    margin-top: 20px;}
.membership_box212 {display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ccc;
    width: 20%; height: 150px;
    margin-left: 10px;
    margin-top: 20px;}
.membership_box22 h3 {color: #fff;}

.membership_box21 li:nth-child(1) {font-weight: bold;}
.membership_box21 li:nth-child(2) {font-size: 14px;}

/* footer 설정 */
footer {background-color: #999;}

/* footer_box1 설정 */
.footer_box1 {display: flex;
    width: 100%; height: 200px;
    justify-content: center;
    align-items: center;}
.footer_box11 {display: flex;
    margin-right: 200px;
    align-items: center;}
.footer_box11 h2 {margin-right: 30px;}
.footer_box11 li {font-size: 20px;}
.footer_box12 li:nth-child(1) {font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;}

/* footer_box2 설정 */
.footer_box2 {height: 20px;}
.footer_box2 ul {display: flex;
    width: 100%;
    justify-content: center;}
.footer_box2 li {margin: 0 10px;
    cursor: pointer;}

/* footer_box3 설정 */
.footer_logo {background-image: url(../img/h1_logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;}
.footer_box3 {display: flex;
    width: 100%; height: 180px;
    justify-content: center;
    margin-top: 30px;}
.footer_box3 div {margin: 0 100px;}
.footer_box3 li {cursor: pointer;}

/* footer_box4 설정 */
.footer_box4 {display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%; height: 100px;
    margin-left: 10%;}
.footer_box41 {display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -100px;}
.footer_box41 ul {margin: 0 40px;}
.footer_ico {display: flex;
    font-size: 24px;}
.footer_ico li {margin: 0 20px;
    cursor: pointer;}






/* 미디어쿼리------------------------------------------------------------------- */

/* 1440px 이상일때 */
/* @media (min-width:1440px){
    #wrap {width: 1280px;
        margin-left: auto;
        margin-right: auto;}

} */