@charset 'utf-8';

/* 전체설정 */
* {margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none;
    color: #fff;}
img {border: none;
    vertical-align: bottom;}
body {color: #fff;}

/* 헤더설정 */
header {
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
header>div {width: 20%;}
.logo {background-image: url(aquarium/logo_white.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
   
height: 100%;
    /* left: 110px;
    top: 10px;
    position: fixed; */
    width: 30%;
    cursor: pointer;}
.gnb {display: flex;
    /* position: fixed;
    left: 300px;
    top: 50px; */
    width: 70%;
    justify-content: space-around;}
.gnb li {width: 16.6666%;
        
       
        transition: all 0.5s;}
.gnb li:hover {transform: scale(1.2);}

.gnb li a {font-size: 16px;}

/* 비디오설정 */
.video {width: 100%;
    height: 1000px;
    object-fit: cover;
    overflow: hidden;
    position: relative;}
video {width: 100%; height: 100%;}

.txt {position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;}
.txt p {text-align: center;}
.txt p:nth-child(1) {font-size: 30px;
    margin-bottom: 20px;}
.txt p:nth-child(2) {font-size: 18px; margin-bottom: 20px;}
.txt p:nth-child(3) {font-size: 26px;}
.txt p:nth-child(4) {font-size: 48px; font-weight: bold;}

/* 동물소개 설정 */
.animal {background-color: #bbb;
    width: 100%; height: 1000px;
    background-image: url(aquarium/animal_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
#animal {display: flex;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 0;}
#animal li {margin-left: 50px;}
#animal li:nth-child(2) {cursor: pointer;}
#animal li:nth-child(3) {cursor: pointer;}
#animal li:nth-child(4) {cursor: pointer;}
#animal li:nth-child(5) {cursor: pointer;}
#animal li:nth-child(6) {cursor: pointer;}

.animal h2 {position: absolute;
    left: 160px;
    top: 185px;
    font-size: 30px;}
.animal p {position: absolute;
    bottom: 180px;
    right: 150px;
    background-color: #9598ff;
    padding: 15px 30px;
    border-radius: 50%;
    cursor: pointer;}

/* 체험소개 설정 */
.pro {width: 100%; height: 1000px;
    background-color: #bbb;
    background-image: url(aquarium/aqua_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
.pro h2 {position: absolute;
    left: 160px;
    top: 185px;
    font-size: 30px;}
.pro p {position: absolute;
    bottom: 180px;
    right: 150px;
    background-color: #9598ff;
    padding: 15px 30px;
    border-radius: 50%;
    cursor: pointer;}

#aqua {display: flex;
    width: 100%; height: 100%;
    justify-content: flex-end;
    align-items: center;}
#aqua li {margin-right: 100px;
    cursor: pointer;}
#aqua li img {width: 450px; height: 450px;}

/* 이용요금 및 운영시간 설정 */
.time {width: 100%; height: 1000px;
    background-color: #bbb;
    background-image: url(aquarium/time_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
.time h2 {position: absolute;
    left: 160px;
    top: 185px;
    font-size: 30px;}
.time .box {display: flex;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;}

/* 이용요금 및 운영시간 박스1 설정 */
.time .box1 {position: relative;}
.time .box1 img {width: 500px; height: 500px;
    position: relative;}
.time .box1 h3 {position: absolute;
    left: 20px;
    top: 40px;
    font-size: 30px;
    color: #000;}
.time .box1 p {position: absolute;
    left: 200px;
    bottom: 50px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    text-align: center;}
.time .box1 a {color: #000;}

.money {position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;}
.money ul {}
.money li {margin: 15px 0;
    font-size: 24px;
    color: #000;}

/* 이용요금 및 운영시간 박스2 설정 */
.time .box2 {position: relative;}
.time .box2 img {position: relative;
    width: 500px; height: 500px;}
.time .box2 h3 {position: absolute;
    left: 20px;
    top: 40px;
    font-size: 30px;}
.time .box2 p {position: absolute;
    left: 200px;
    bottom: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;}

#time {position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;}
#time ul {margin: 10px 0;}
#time li {text-align: center;
    font-size: 24px;}
#time ul li:nth-child(2) {letter-spacing: 5px; margin-bottom: 5px;}
#time ul li:nth-child(3) {font-size: 14px;}

/* 가이드맵 설정 */
.guide {width: 100%; height: 1000px;
    background-color: #bbb;
    background-image: url(aquarium/guide_bg001.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
.guide h2 {position: absolute;
    left: 160px;
    top: 185px;
    font-size: 30px;}
.guide div {position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
.guide img {position: absolute;}
.guide img:nth-child(1) {width: 900px; height: auto;}
.guide img:nth-child(2) {width: 800px; height: auto;}

/* 고객의소리 설정 */
.answer {width: 100%; height: 1000px;
    background-color: #bbb;
    background-image: url(aquarium/guest_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
.answer h2 {position: absolute;
    left: 160px;
    top: 185px;
    font-size: 30px;}
.answer .box {display: flex;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;}

/* 고객의소리 box1 설정 */
.answer .box1 {position: relative;}
.answer .box1 img {width: 500px; height: 500px;
    position: relative;}
.answer .box1 h3 {position: absolute;
    left: 20px;
    top: 40px;
    font-size: 30px;
    color: #000;}
.answer .box1 .border {width: 450px; height: 200px;
    background-color: #aaa;
    position: absolute;
    left: 30px; top: 160px;}
.answer .box1 .more {position: absolute;
    left: 200px;
    bottom: 50px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    text-align: center;}
.answer .box1 .more a {color: #000;}
.answer .box1 i {position: absolute; color: #000;
    left: 250px;
    top: 320px;}

.answer .question {position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.answer .question p {color: #000;
    margin-top: 20px;}
.question p:nth-child(1) {font-size: 20px;}

/* 고객의소리 box2 설정 */
.answer .box2 {position: relative;}
.answer .box2 img {width: 500px; height: 500px;
    position: relative;}
.answer .box2 h3 {position: absolute;
    left: 170px;
    top: 220px;
    font-size: 30px;}
.answer .box2 p {position: absolute;
    left: 200px;
    bottom: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;}

/* 오시는길 설정 */
.map {width: 100%; height: 1000px;
    position: relative;
    background-color: #aaa;}
.map h2 {position: absolute;
    left: 160px;
    top: 130px;
    font-size: 30px;
    color: #000;}
#map iframe {position: relative;
    width: 100%;
    height: 500px;
    left: 0;
    top: 200px;}
#map .add {display: flex;
    position: absolute;
    margin-left: -250px;
    left: 50%; bottom: 130px;}
.add li {color: #000;}
.add ul:nth-child(1) {margin-right: 100px; font-size: 20px;}
.add ul:nth-child(1) li {margin: 20px 0;}

.add ul:nth-child(2) {margin-right: 100px; font-size: 20px;}
#add2 {margin: 20px 0;}
.add li:nth-child(3) {font-size: 14px;}

/* 푸터설정 */
footer {width: 100%; height: 200px;
    background-color: #888;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
footer p {margin: 5px 0;
    font-size: 14px;}
footer .top {position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    cursor: pointer;
    border-radius: 20px 20px 0 0;}

/* fixed 설정 */
.sideMenu {position: fixed;
    width: 100px;
    height: 500px;
    background-color: rgba(86, 255, 142, 0.3);
    top: 20%;
    right: -100px;
    border-radius: 10px  0 0 10px;} 
.sideMenu .ring {width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(86, 255, 142, 0.3);
    position: absolute;
    left: -56px;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;}

.sideMenu .txt {display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;}
.ticket {width: 20px; margin-bottom: 10px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;}
.blog {font-size: 24px;}
.sideMenu .txt i {font-size: 36px;}



/* 팝업 */

.popUp {position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
width: 100%;
height: 100%;
z-index: 9999;
left: 0;
top: 0;
display: none}

.popUp>p {width: 600px;
        height: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
    margin-left: -300px;
margin-top: -200px;
background-color: #fff;
opacity: 0;}
.popUp>p:nth-child(1) {background-color: red;}
.popUp>p:nth-child(2) {background-color: orange}
.popUp>p:nth-child(3) {background-color: yellow}
.popUp>p:nth-child(4) {background-color: green}
.popUp>p:nth-child(5) {background-color: blue}
.popUp>p.on {opacity: 1;}

.popUp span {width: 50px;
            height: 50px;
            background-color: rgba(255, 255, 255, 0.5);
            border: 2px solid #fff;
        position: absolute;
        right: 200px;
    top: 200px;
font-size: 30px;
text-align: center;
line-height: 1.8;
}

.popUp span:hover {background-color: rgba(255, 255, 255, 1);
                    color: #888;}