@charset 'utf-8';

/* 전체설정 */
* {margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none;
    color: #fff;}
img {border: none;
    vertical-align: bottom;}
body {color: #fff;}

/* 헤더설정 */
header {
    position: fixed;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
header>div {width: 20%;}
.logo {background-image: url(aquarium/logo_white.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 90%;
    /* left: 110px;
    top: 10px;
    position: fixed; */
    cursor: pointer;}
.gnb {display: flex;
    /* position: fixed;
    left: 300px;
    top: 50px; */
    width: 80%;
    justify-content: space-around;}
.gnb li {
        /* margin-right: 105px;
        margin-left: 50px; */
        transition: all 0.5s;}
.gnb li:hover {transform: scale(1.2);}

.gnb li a {font-size: 16px;}

/* 서브메뉴설정 */
.sub_menu {width: 100%;
    height: 200px;
    position: absolute;
    left: 0; top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all 0.5s;
    z-index: -1;}

.sub_menu.on {opacity: 1;
        z-index: 999;}
.sub_menu .sub1 {width: 20%; height: 100%;
    text-align: center; font-size: 30px;
    background-color: #9598ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}
.sub_menu .sub2 {display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    width: 80%;
    height: 100%;
    text-align: center;
    position: absolute;
    left: 20%;}
.sub_menu .sub2 ul {width: 13.3333%;
    margin-left: 30px;}
.sub_menu .sub2 li {margin: 30px 0;
    cursor: pointer; color: #000;
    padding: 10px;
    transition: all 0.5s;}
.sub2 li:hover {background-color: #9598ff; color: #fff;}

/* 비디오설정 */
.video {width: 100%;
    height: 1000px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    z-index: 2;}
video {width: 100%; height: 100%;}

.txt {position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;}
.txt p {text-align: center;}
.txt p:nth-child(1) {font-size: 30px;
    margin-bottom: 20px;}
.txt p:nth-child(2) {font-size: 18px; margin-bottom: 20px;}
.txt p:nth-child(3) {font-size: 26px;}
.txt p:nth-child(4) {font-size: 48px; font-weight: bold;}

/* 동물소개 설정 */
.animal {background-color: #bbb;
    width: 100%; height: 1000px;
    background-image: url(aquarium/animal_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
#animal {display: flex;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    top: 0;}
#animal li {margin-left: 50px;}
#animal li:nth-child(1) {cursor: pointer;}
#animal li:nth-child(2) {cursor: pointer;}
#animal li:nth-child(3) {cursor: pointer;}
#animal li:nth-child(4) {cursor: pointer;}
#animal li:nth-child(5) {cursor: pointer;}
#animal li:nth-child(6) {cursor: pointer;}

.animal h2 {position: absolute;
    left: 160px;
    top: 185px;
    font-size: 30px;}
.animal .more {position: absolute;
    bottom: 180px;
    right: 150px;
    background-color: #9598ff;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;}
.animal .more:hover {background-color: #5659af;}

/* 동물소개 팝업설정 */
.popUp {position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 9998;
    left: 0;
    top: 0;
    display: none;}

.popUp>p {width: 600px;
        height: 600px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -300px;
        margin-top: -300px;
        background-color: #fff;
        opacity: 0;}

.popUp>p:nth-child(1) {background-image: url(aquarium2/aquarium1.jpg);
    background-position: center center;
    background-size: cover;}
.popUp>p:nth-child(2) {background-image: url(aquarium2/aquarium2.jpg);
    background-position: center center;
    background-size: cover;}
.popUp>p:nth-child(3) {background-image: url(aquarium2/penguin.jpg);
    background-position: center center;
    background-size: cover;}
.popUp>p:nth-child(4) {background-image: url(aquarium2/aquarium3.jpg);
    background-position: center center;
    background-size: cover;}
.popUp>p:nth-child(5) {background-image: url(aquarium2/aquarium2.jpg);
    background-position: center center;
    background-size: cover;}
.popUp>p:nth-child(6) {background-image: url(aquarium2/aquarium4.jpg);
    background-position: center center;
    background-size: cover;}
.popUp>p.on {opacity: 1;}

.popUp span {width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid #fff;
        position: absolute;
        right: 200px;
        top: 200px;
        font-size: 30px;
        text-align: center;
        line-height: 1.8;
        cursor: pointer;}
.popUp span:hover {background-color: rgba(255, 255, 255, 1);
                    color: #888;}

/* 체험소개 설정 */
.pro {width: 100%; height: 1000px;
    background-color: #bbb;
    background-image: url(aquarium/aqua_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
.pro h2 {position: absolute;
    left: 160px;
    top: 185px;
    font-size: 30px;}
.pro .more {position: absolute;
    bottom: 160px;
    right: 150px;
    background-color: #9598ff;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;}
.pro .more:hover {background-color: #5659af;}

#aqua {display: flex;
    width: 100%; height: 100%;
    justify-content: flex-end;
    align-items: center;}
#aqua li {margin-right: 100px;
    cursor: pointer;}
#aqua li img {width: 450px; height: 450px;}

/* 체험소개 팝업설정 */
.popUp2 {position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 9999;
    left: 0;
    top: 0;
    display: none;}

.popUp2>p {width: 600px;
        height: 600px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -300px;
        margin-top: -300px;
        background-color: #fff;
        opacity: 0;}

.popUp2>p:nth-child(1) {background-image: url(aquarium/aqua_001.jpg);
    background-position: center center;
    background-size: cover;}
.popUp2>p:nth-child(2) {background-image: url(aquarium/aqua_002.jpg);
    background-position: center center;
    background-size: cover;}
.popUp2>p:nth-child(3) {background-image: url(aquarium/aqua_003.jpg);
    background-position: center center;
    background-size: cover;}
.popUp2>p.on {opacity: 1;}

.popUp2 span {width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid #fff;
        position: absolute;
        right: 200px;
        top: 200px;
        font-size: 30px;
        text-align: center;
        line-height: 1.8;
        cursor: pointer;}
.popUp2 span:hover {background-color: rgba(255, 255, 255, 1);
                    color: #888;}

/* 이용요금 및 운영시간 설정 */
.time {width: 100%; height: 1000px;
    background-color: #bbb;
    background-image: url(aquarium/time_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
.time h2 {position: absolute;
    left: 160px;
    top: 165px;
    font-size: 30px;}
.time .box {display: flex;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;}

/* 이용요금 및 운영시간 박스1 설정 */
.time .box1 {position: relative;}
.time .box1 img {width: 500px; height: 500px;
    position: relative;}
.time .box1 h3 {position: absolute;
    left: 20px;
    top: 40px;
    font-size: 30px;
    color: #000;}
.time .box1 p {position: absolute;
    left: 200px;
    bottom: 50px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;}
.time .box1 a {color: #000;}
.time .box1 .more:hover {background-color: #a4f8d8; border-color: #a4f8d8;}

.money {position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;}
.money ul {}
.money li {margin: 15px 0;
    font-size: 24px;
    color: #000;}

/* 이용요금 및 운영시간 박스2 설정 */
.time .box2 {position: relative;}
.time .box2 img {position: relative;
    width: 500px; height: 500px;}
.time .box2 h3 {position: absolute;
    left: 20px;
    top: 40px;
    font-size: 30px;}
.time .box2 p {position: absolute;
    left: 200px;
    bottom: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;}
.time .box2 .more:hover {background-color: #a4f8d8; border-color: #a4f8d8;}
.time .box2 .more:hover a {color: #000;}

#time {position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;}
#time ul {margin: 10px 0;}
#time li {text-align: center;
    font-size: 24px;}
#time ul li:nth-child(2) {letter-spacing: 5px; margin-bottom: 5px;}
#time ul li:nth-child(3) {font-size: 14px;}

/* 가이드맵 설정 */
.guide {width: 100%; height: 1000px;
    background-color: #bbb;
    background-image: url(aquarium/guide_bg001.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
.guide h2 {position: absolute;
    left: 160px;
    top: 185px;
    font-size: 30px;}
.guide div {position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}
.guide img {position: absolute;}
.guide img:nth-child(1) {width: 900px; height: auto;}
.guide img:nth-child(2) {width: 800px; height: auto;}

/* 고객의소리 설정 */
.answer {width: 100%; height: 1000px;
    background-color: #bbb;
    background-image: url(aquarium/guest_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;}
.answer h2 {position: absolute;
    left: 160px;
    top: 185px;
    font-size: 30px;}
.answer .box {display: flex;
    width: 100%; height: 100%;
    justify-content: center;
    align-items: center;}

/* 고객의소리 box1 설정 */
.answer .box1 {position: relative;}
.answer .box1 img {width: 500px; height: 500px;
    position: relative;}
.answer .box1 h3 {position: absolute;
    left: 20px;
    top: 40px;
    font-size: 30px;
    color: #000;}
.answer .box1 .border {width: 450px; height: 200px;
    background-color: #aaa;
    position: absolute;
    left: 30px; top: 160px;}
.answer .box1 .more {position: absolute;
    left: 200px;
    bottom: 50px;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;}

.answer .box1 .more:hover {background-color: #a4f8d8; border-color: #a4f8d8;}

.answer .box1 .more a {color: #000;}
.answer .box1 i {position: absolute; color: #000;
    left: 250px;
    top: 320px;}

.answer .question {position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.answer .question p {color: #000;
    margin-top: 20px;}
.question p:nth-child(1) {font-size: 20px;}

/* 고객의소리 box2 설정 */
.answer .box2 {position: relative;}
.answer .box2 img {width: 500px; height: 500px;
    position: relative;}
.answer .box2 h3 {position: absolute;
    left: 170px;
    top: 220px;
    font-size: 30px;}
.answer .box2 p {position: absolute;
    left: 200px;
    bottom: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;}
.answer .box2 .more:hover {background-color: #a4f8d8; border-color: #a4f8d8;}
.answer .box2 .more:hover a {color: #000;}

/* 오시는길 설정 */
.map {width: 100%; height: 1000px;
    position: relative;
    background-color: #aaa;}
.map h2 {position: absolute;
    left: 160px;
    top: 130px;
    font-size: 30px;
    color: #000;}
#map iframe {position: relative;
    width: 100%;
    height: 500px;
    left: 0;
    top: 200px;}
#map .add {display: flex;
    position: absolute;
    margin-left: -250px;
    left: 50%; bottom: 130px;}
.add li {color: #000;}
.add ul:nth-child(1) {margin-right: 100px; font-size: 20px;}
.add ul:nth-child(1) li {margin: 20px 0;}

.add ul:nth-child(2) {margin-right: 100px; font-size: 20px;}
#add2 {margin: 20px 0;}
.add li:nth-child(3) {font-size: 14px;}

/* 푸터설정 */
footer {width: 100%; height: 200px;
    background-color: #888;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
footer p {margin: 5px 0;
    font-size: 14px;}
footer .top {position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    cursor: pointer;
    border-radius: 20px 20px 0 0;
    transition: all 0.5s;}
footer .top:hover {background-color: rgba(0, 0, 0, 0.7);}

/* fixed 설정 */
.sideMenu {position: fixed;
    width: 100px;
    height: 500px;
    background-color: rgba(86, 255, 142, 0.3);
    top: 20%;
    right: -100px;
    border-radius: 10px  0 0 10px;} 
.sideMenu .ring {width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(86, 255, 142, 0.3);
    position: absolute;
    left: -56px;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;}

.sideMenu .txt {display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;}
.ticket {width: 20px; margin-bottom: 10px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;}
.blog {font-size: 24px;}
.sideMenu .txt i {font-size: 36px;}


/* 미디어쿼리 */

/* 1280px이상 1599px이하구간 */
@media (min-width:1280px) and (max-width:1599px){
    .video {width: 100%;
        height: 1000px;
        object-fit: cover;
        overflow: hidden;
        position: relative;}
    video {width: auto; height: 100vh;}

/* 동물소개 설정 */
#animal img {width: 100%; height: 100%;}
.animal .more {bottom: 150px;}

#aqua {display: flex;
    width: 100%; height: 100%;
    justify-content: flex-end;
    align-items: center;}
#aqua li {}
#aqua li img {width: 300px; height: 300px;}

.time .box2 img {width: 400px; height: 400px;}
.time .box1 img {width: 400px; height: 400px;}
.time .box1 p {left: 150px;}
.time .box2 p {left: 150px;}

.guide div {top: 0;}
.guide img {position: absolute;}
.guide img:nth-child(1) {width: 700px; height: auto;}
.guide img:nth-child(2) {width: 600px; height: auto;}

.answer h2 {top: 160px;}
.answer .box1 img {width: 400px; height: 400px;}
.answer .box2 img {width: 400px; height: 400px;}
.answer .box1 .border {width: 350px; height: 200px;
    top: 100px;}
.answer .box1 .more {left: 150px;}
.answer .box1 i {position: absolute; color: #000;
    left: 200px;
    top: 260px;}

.answer .question {position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.answer .question p {margin-top: 10px;}
.question p:nth-child(1) {font-size: 20px;}
.question p:nth-child(2) {font-size: 14px;}
.answer .box2 h3 {position: absolute;
    left: 120px;
    top: 160px;
    font-size: 30px;
    width: 100%; height: 100%;}
.answer .box2 p {position: absolute;
    left: 150px;
    bottom: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;}
#map .add {margin-left: -250px;
        left: 50%; bottom: 110px;}
#map iframe {height: 400px;}

}

/* 1024px 이상 1279px 이하구간 */
@media (min-width:1024px) and (max-width:1279px){
    .video {width: 100%; height: 100%;}
    video {width: auto; height: 100vh;}

    #animal img {width: 100%; height: 100%;}
    .animal .more {bottom: 150px;}
    .animal h2 {left: 160px;}
    .popUp>p {width: 400px;
            height: 400px;
            margin-left: -200px;
            margin-top: -200px;}
    .popUp span {top: 150px;}

    #aqua {width: 100%; height: 100%;}
    #aqua li {margin-right: 30px;}
    #aqua li img {width: 300px; height: 300px;}

    .time .box2 img {width: 400px; height: 400px;}
    .time .box1 img {width: 400px; height: 400px;}
    .time .box1 p {left: 150px;}
    .time .box2 p {left: 150px;}
    .time h2 {
        left: 160px;
        top: 140px;
        font-size: 30px;}
    .guide div {top: 0;}
    .guide img {position: absolute;}
    .guide img:nth-child(1) {width: 700px; height: auto;}
    .guide img:nth-child(2) {width: 600px; height: auto;}
    .guide h2 {
        left: 160px;
        top: 135px;
        font-size: 30px;}


    .answer h2 {top: 160px;}
.answer .box1 img {width: 400px; height: 400px;}
.answer .box2 img {width: 400px; height: 400px;}
.answer .box1 .border {width: 350px; height: 200px;
    top: 100px;}
.answer .box1 .more {left: 150px;}
.answer .box1 i {position: absolute; color: #000;
    left: 200px;
    top: 260px;}

.answer .question {position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.answer .question p {margin-top: 10px;}
.question p:nth-child(1) {font-size: 20px;}
.question p:nth-child(2) {font-size: 14px;}
.answer .box2 h3 {position: absolute;
    left: 120px;
    top: 160px;
    font-size: 30px;
    width: 100%; height: 100%;}
.answer .box2 p {position: absolute;
    left: 150px;
    bottom: 50px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;}
.popUp2>p {width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;}
.popUp2 span {top: 150px;}

#map .add {margin-left: -250px;
    left: 50%; bottom: 20px;}
        

}

/* 780px 이상 1023px 이하구간 */
@media (min-width:780px) and (max-width:1023px){
    .video {width: 100%; height: 100%;}
    video {width: auto; height: 100vh;
        object-fit: cover;}

    .gnb li:nth-child(6) {display: none;}

    #animal li {display: none;}
    #animal li:nth-child(1) {display: block;
        position: absolute;
        top: 250px;
        left: 130px;}
    .animal .more {bottom: 130px;
            right: 120px;}


    .sub_menu {display: none;}
    .popUp>p {width: 400px;
        height: 400px;
        margin-left: -200px;
        margin-top: -200px;}
    .popUp span {right: 100px;}

    #aqua li {display: none;}
    #aqua li img {width: 400px; height: 400px;}
    #aqua li:nth-child(1) {display: block;
        position: absolute;
        top: 240px;
        left: 200px;}

    .pro .more {bottom: 130px;
        right: 90px;}

    .time .box2 img {width: 400px; height: 400px;}
    .time .box1 img {width: 400px; height: 400px;}
    .time .box1 p {left: 150px;}
    .time .box2 p {left: 150px;}
    .time h2 {left: 160px;
        top: 140px;
        font-size: 30px;}
    .time h2 {position: absolute;
            left: 245px;
            top: 155px;
            font-size: 30px;}

    .guide div {top: 0;}
    .guide img {position: absolute;}
    .guide img:nth-child(1) {width: 700px; height: auto;}
    .guide img:nth-child(2) {width: 600px; height: auto;}
    .guide h2 {
        left: 160px;
        top: 135px;
        font-size: 30px;}


        
}