@charset 'utf-8';

/* 전체설정 */
* {margin: 0; padding: 0;}
ul, ol, li {list-style: none;}
a {text-decoration: none;
    color: #fff;}
img {border: none;
    vertical-align: bottom;}
body {position: fixed;
    width: 100%;
    height: 100%;
    color: #fff;}
p {color: #fff;}

header {position: fixed;
    width: 50%;
    left: 25%;
    top: 50%;
    height: 300px;
    margin-top: -150px;
    z-index: 10;
    transition: all 1.2s;}
header h1 {text-align: center;
    }

nav {width: 100%;}
nav ul {display: flex;
    width: 100%;
    height: 100px;
    align-items: center;}
nav li {width: 25%;
    text-align: center;
    cursor: pointer;}

.subMenu {display: none;}
.skillMenu {display: none;}

.logo {}
.logo h2 {position: absolute;
    left: 20%;
    top: 10px;
    font-size: 30px;
    z-index: 9998;}

section {position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;}
section article {position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.8s;}

article:nth-child(1) {
    left: -100%;
    top: -100%;}
article:nth-child(2) {
    left: 100%;
    top: -100%;}
article:nth-child(3) {
    left: -100%;
    top: 100%;}
article:nth-child(4) {
    left: 100%;
    top: 100%;}

article.on {left: 0; top: 0;}

header.on {top: 10%;}

article:nth-child(2) h2 {width: 100%;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -110px;
    font-size: 36px;
    }

article:nth-child(2)>div {width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px 20px 20px 20px;
}

article:nth-child(2) a {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 30px;
    transition: all 0.5s;
    color: #000;
    font-weight: bold;
}
article:nth-child(2) a:hover {background-color: rgba(0, 0, 0, 0.7);
    color: #fff;}

article:nth-child(2) {display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.aqua p:nth-child(1) {font-size: 24px;}
.aqua p:nth-child(2) {
    background-image: url(aquarium_concept01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px; height: 400px;
    margin: -20px 0;
}

.olive p:nth-child(1) {font-size: 24px;}
.olive p:nth-child(2) {
    background-image: url(olive_concept01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px; height: 400px;
    margin: -20px 0;
}

.grboy p:nth-child(1) {font-size: 24px;}
.grboy p:nth-child(2) {
    background-image: url(grboy_concept01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px; height: 400px;
    margin: -20px 0;
}

article:nth-child(2) span {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px 30px;
    transition: all 0.5s;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
article:nth-child(2) span:hover {background-color: rgba(0, 0, 0, 0.7);
    color: #fff;}

/* 팝업섹션설정 */
#popUp {
    display: none;
}
.popUp {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9997;
}

/* 팝업박스1 설정 */
.popUpBox1 {
    width: 980px;
    height: 800px;
    background-color: #C4CFFF;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -400px;
    border-radius: 30px 30px 30px 30px;
    opacity: 0;
    display: none;
}
.popUpBox1.on {opacity: 1;
    display: block;}

.popUpBox1 .popUp_size {
    width: 980px;
    height: 800px;
    background-color: #FFC4C4;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 30px 30px 30px 30px;
}

/* 특정부분 스크롤바 없애기 */
.popUpBox1 .popUp_size{-ms-overflow-style: none;}
.popUpBox1 .popUp_size::-webkit-scrollbar {display: none;}

.popUpBox1 .bar {
    width: 980px;
    height: 50px;
    position: fixed;
    border-radius: 30px 30px 0 0;
}
.popUpBox1 i {
    position: absolute;
    left: -50px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    
}

.popUpBox1 .img {
    width: 100%;
    height: 4794px;
    background-image: url(olive_concept02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* 팝업박스2 설정 */
.popUpBox2 {
    width: 980px;
    height: 800px;
    background-color: #C4CFFF;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -400px;
    border-radius: 30px 30px 30px 30px;
    opacity: 0;
    display: none;
}
.popUpBox2.on {opacity: 1;
    display: block;}

.popUpBox2 .popUp_size {
    width: 980px;
    height: 800px;
    background-color: #FFC4C4;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 30px 30px 30px 30px;
}

/* 특정부분 스크롤바 없애기 */
.popUpBox2 .popUp_size{-ms-overflow-style: none;}
.popUpBox2 .popUp_size::-webkit-scrollbar {display: none;}

.popUpBox2 .bar {
    width: 980px;
    height: 50px;
    position: fixed;
    border-radius: 30px 30px 0 0;
}
.popUpBox2 i {
    position: absolute;
    left: -50px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    
}

.popUpBox2 .img {
    width: 100%;
    height: 4794px;
    background-image: url(olive_concept02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* 팝업박스3 설정 */
.popUpBox3 {
    width: 980px;
    height: 800px;
    background-color: #C4CFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -400px;
    border-radius: 30px 30px 30px 30px;
    opacity: 0;
    display: none;
}
.popUpBox3.on {opacity: 1;
    display: block;}
.popUpBox3 .popUp_size {
    width: 980px;
    height: 800px;
    background-color: #FFC4C4;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 30px 30px 30px 30px;
}
/* 특정부분 스크롤바 없애기 */
.popUpBox3 .popUp_size{-ms-overflow-style: none;}
.popUpBox3 .popUp_size::-webkit-scrollbar {display: none;}

.popUpBox3 .bar {
    width: 980px;
    height: 50px;
    position: fixed;
    border-radius: 30px 30px 0 0;
}
.popUpBox3 i {
    position: absolute;
    left: -50px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    
}

.popUpBox3 .img {
    width: 100%;
    height: 3725px;
    background-image: url(grboy_concept02.png);
    background-repeat: no-repeat;
    background-size: contain;
}






/* 메인 원 설정 */
.moon {background: linear-gradient(rgb(104, 16, 131), skyBlue, rgb(147, 42, 168));
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    left: 37%;
    top: 25%;
    opacity: 0.5;
    animation: ani 8s linear infinite;
    z-index: 9;
    transition: all 2s;}

/* .moon p {
    background-image: url(bazzi_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 300px; height: 300px;
    position: absolute;
    left: 25%;
    top: 25%;
} */

.moon.on {opacity: 0; display: none;}

@keyframes ani {
    100% {transform: rotate(360deg);}
}


/* 별배경 설정 */
.title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: #fff;
    font-weight: 100;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}

.title .avatar {
    width: 40px;
    height: 40px;
    background-image: url("../img/avatar.jpg");
    display: inline-block;
    border-radius: 50%;
    background-size: 100%;
}

.noite {
    background: -webkit-linear-gradient(top, rgb(0, 0, 0) 50%, rgb(25, 19, 39)80%, rgb(43, 32, 72));
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.constelacao {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: rotate 600s infinite linear;
}

.estrela {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation-name: estrela;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.estrela.style1 {
    animation-duration: 0.5s;
    animation-name: estrela;
}
.estrela.style2 {
    animation-duration: 1s;
    animation-name: estrela;
}
.estrela.style3 {
    animation-duration: 1.5s;
    animation-name: estrela;
}
.estrela.style4 {
    animation-duration: 2s;
    animation-name: estrelaDestacada;
}

.estrela.tam1 {
    width: 1px;
    height: 1px;
}
.estrela.tam2 {
    width: 2px;
    height: 2px;
}
.estrela.tam3 {
    width: 3px;
    height: 3px;
}

.estrela.opacity1 {
    opacity: 1;
}
.estrela.opacity2 {
    opacity: 0.5;
}
.estrela.opacity3 {
    opacity: 0.1;
}

.meteoro {
    position: absolute;
    background-color: #fff;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    transform: rotate(-35deg);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.meteoro:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 85px solid white;
    position: absolute;
    left: 2px;
    top: 0;
}

.meteoro.style1 {
    animation-name: meteoroStyle1;
}
.meteoro.style2 {
    animation-name: meteoroStyle2;
}
.meteoro.style3 {
    animation-name: meteoroStyle3;
}
.meteoro.style4 {
    animation-name: meteoroStyle4;
}

.lua {
    position: absolute;
    right: 200px;
    top: 150px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 160px 0 #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
    background-color: #fff;
    animation-name: lua;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

.lua .textura {
    background-image: url("https://raw.githubusercontent.com/interaminense/starry-sky/master/src/img/bgMoon.png");
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.4;
}

.floresta {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.floresta img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes escurecer {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}

@keyframes estrela {
    0% {
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.05);
    }
    50% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.05);
    }
}

@keyframes estrelaDestacada {
    0% {
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);
    }
    20% {
        background-color: #FFC4C4;
        box-shadow: 0 0 10px 0 rgb(255, 196, 196, 1);
    }
    80% {
        background-color: #C4CFFF;
        box-shadow: 0 0 10px 0 rgb(196, 207, 255, 1);
    }
    100% {
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
    }
}

@keyframes meteoroStyle1 {
    0% {
        opacity: 0;
        right: 300px;
        top: 100px;
    }
    30% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        right: 1000px;
        top: 600px;
    }
}

@keyframes meteoroStyle2 {
    0% {
        opacity: 0;
        right: 700px;
        top: 100px;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 1400px;
        top: 600px;
    }
}

@keyframes meteoroStyle3 {
    0% {
        opacity: 0;
        right: 300px;
        top: 300px;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 1000px;
        top: 800px;
    }
}

@keyframes meteoroStyle4 {
    0% {
        opacity: 0;
        right: 700px;
        top: 300px;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 1400px;
        top: 800px;
    }
}

@keyframes lua {
    0% {
        box-shadow: 0 0 160px 0 #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
    }
    50% {
        box-shadow: 0 0 80px 0 #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
    }
    100% {
        box-shadow: 0 0 160px 0 #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}